nav {
	position: fixed;
    height: 100vh;
    background: #bdc3c7;
    padding: 1.6rem;
    text-align: center;
    float: left;
}

#logo {
	color: #2c3e50;
	font-weight: 700;
	cursor: pointer;
	display: block;
	font-size: 4.5rem;
	text-transform: uppercase;
}

nav ul {
	position: relative;
	top: 41.5%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	text-align: right;
}

nav ul li {
	width: 100%;
	display: block;
}


nav ul li a.active {
	font-weight: 700;
	width: 6rem;
}

nav ul li a {
	color: #2c3e50;
	text-transform: uppercase;
	position: relative;
}

nav ul li a span.caret {
	width: 16px;
	height: 16px;
	background: url('../img/caret.svg') no-repeat;
	background-size: 80%;
	background-position: 100% 100%;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	margin-left: 10px;
}

nav ul li a span.active {
	display: inline-block;
	opacity: 1;
	visibility: visible;
	margin-left: 0px;
	transition: visibility 0s, opacity 0s, margin 0.15s ease-out;
	-webkit-transition: visibility 0s, opacity 0s, margin 0.15s ease-out;
	-moz-transition: visibility 0s, opacity 0s, margin 0.15s ease-out;
	-o-transition: visibility 0s, opacity 0s, margin 0.15s ease-out;
	-ms-transition: visibility 0s, opacity 0s, margin 0.15s ease-out;
}

nav #copy {
	position: relative;
	top: 75%;
	text-align: right;
	display: block;
	width: 100%;
	color: #fff;
	font-style: italic;
	font-weight: 300;
}

body {
	background: #ecf0f1;
}

#wrapper {
	width: 90%;
	width: calc(100% - 9.3rem);
	width: -webkit-calc(100% - 9.3rem);
	width: -moz-calc(100% - 9.3rem);
	width: -o-calc(100% - 9.3rem);
	width: -ms-calc(100% - 9.3rem);
	float: right;
	position: relative;
}

section.parallax_module {
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	text-align: right;
	margin-bottom: 2%;
}

.banner_container {
  display: block;
  padding: 33vh 5vh 0vh 0vh;
}

div.text_container {
	width: 90%;
	margin: 0px auto;
	padding: 2%;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: 2%;
}

div.text_container p {
	margin: 1% 0;
}

section.parallax_1 {
  background-image: url("../img/hero_banner.svg");
}

section.parallax_2 {
  background-image: url("../img/main.jpg");
}

div.text_container_1 {
	background: tan;
}

div.text_container_2 {
	background: grey;
}
